<style>
    .announcement-message {
        font-family: var(--ff-sans);
        color: var(--color-tertiary-text);
        font-size: 14px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 5rem;
        margin: auto;
    }
    .contacts {
        align-items: center;
        gap: 10px;
    }

    .contacts > a {
        display: flex;
        align-items: center;
    }

    .contacts span {
        margin-left: 5px;
    }
    .options > a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        gap: 2.5px;
    }
    select {
        background: none;
        border: 0;
    }

    .working-hours {
        margin-left: auto;
    }

    @media screen and (max-width: 750px) {
        .announcement-message {
            font-size: 12px;
            padding: 1rem 3.2rem;
        }
        .contacts svg {
            width: 16px;
            height: 16px;
        }

        .email-info {
            display: none;
        }
        .phone-number {
            display: none;
        }
    }
</style>

<div class=' color-{{section.settings.color_scheme}}'>
    <div class='announcement-message page--width'>
        <div class='contacts flex'>
            <a href='mailto:{{ section.settings.email | escape -}}'>
                {% render 'icons', icon: 'email' %}
                <span class='email-info'> {{ section.settings.email | escape -}}</span>
            </a>
            <a href='tel:{{ section.settings.phone | escape }}'>
                {% render 'icons', icon: 'phone' %}
                <span class='phone-number'>{{ section.settings.phone | escape }}</span>
            </a>
        </div>
        <span class='working-hours'>9:00 AM - 10:00 PM</span>
    </div>
</div>

{% schema %}
{
    "name": "Hekto Announcement",
    "class": "hekto-announcement-section",
    "enabled_on": {
        "groups": ["header"]
    },
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color",
            "default": "scheme-5"
        },
        {
            "type": "text",
            "id": "email",
            "default": "johndoe@example.com",
            "label": "Your Email"
        },
        {
            "type": "text",
            "id": "phone",
            "default": "(12345)67890",
            "label": "Phone Number"
        }
    ],
    "presets": [
        {
            "name": "Hekto Announcement Bar"
        }
    ]
}
{% endschema %}
