{{ 'global.min.css' | asset_url | stylesheet_tag }}

<style>
  .navigation {
    color: var(--color-primary-text);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 80px;
  }
  .favicon-nav {
    align-items: center;
    gap: 70px;
  }

  .nav-lists {
    list-style-type: none;
    flex-direction: row;
    gap: 25px;
    padding-inline-start: 0;
  }

  .select-pages {
    color: var(--color-primary-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
  }

  .select-pages:hover,
  .select-pages:focus {
    color: var(--color-primary-accent);
  }
  .nav-lists a {
    font-weight: 400;
    color: var(--color-primary-text);
    text-decoration: none;
  }

  user-fav-cart a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-fav-cart svg {
    color: var(--color-primary-text);
    fill: var(--color-primary-text);
  }

  .user-fav-cart path {
    fill: var(--color-primary-text);
  }

  #search-bar,
  .search-div {
    height: 40px;
  }
  .search-div {
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .search-div input {
    border: 2px solid #e7e6ef;
    height: 40px;
    width: 371px;
  }

  .search-div input:focus {
    outline: 0;
    box-shadow: none;
  }
  .search-btn {
    background-color: var(--color-primary-accent);
    height: 40px;
    width: 51px;
    gap: 0;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
  }

  @media screen and (max-width: 750px) {
    .favicon-nav {
      gap: 45px;
    }

    .nav-lists {
      flex-wrap: wrap;
      justify-content: center;
    }

    .search-div {
      width: 75%;
    }
  }
</style>

<div class="header flex color-{{section.settings.color_scheme}}">
  <div class="navigation ff-lato flex ">
    <div class="favicon-nav flex">
      <a class="logo-home-link" href="/">
        {{ section.settings.image | image_url: width: 100, height: 34 | image_tag }}
      </a>
      <ul class="nav-lists flex ">
        <li>
          <select class="select-pages" name="nav-page" id="nav-page">
            <option value="home">Home</option>
            <option value="page">Page</option>
          </select>
        </li>

        <li>
          <a href="#">Pages</a>
        </li>
        <li>
          <a href="#">Products</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Shop</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>

    <form class="search-div flex" action="{{routes.search_url}}">
      <input
        type="text"
        placeholder="Search"
        name="q"
        value="{{ search.terms | escape }}"
      >
      <button type="submit" class="search-btn flex">
        {% render 'icons', icon: 'search' %}
      </button>
    </form>

    <div class="user-fav-cart flex">
      <a href="#">
        <span>Login </span>
        {% render 'icons', icon: 'user' %}
      </a>

      <a href="#">
        <span>Wishlist </span>
        {% render 'icons', icon: 'favorite' %}
      </a>
      <a href="/cart">
        {% render 'icons', icon: 'cart' %}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header Hekto",
  "class": "header-hekto",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo Image"
    }
  ],
  "presets": [
    {
      "name": "Header Hekto"
    }
  ]
}
{% endschema %}
