<style>
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  /* .page-width {
    max-width: 120rem;
    margin: 0 5rem;
  } */
  .flex {
    display: flex;
    gap: 10px;
  }

  .border {
    border: 1px solid black;
  }
  .announcement-message {
    font-family: var(--ff-sans);
    color: hsl (var(--clr-white) / 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 44px;
  }
  .contacts {
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  .contacts > a {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .email-info {
    margin-right: 50px;
  }

  /* .options {
    align-items: center;
  } */

  .options > a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 2.5px;
  }
  select {
    background: none;
    border: 0;
  }

  @media screen and (max-width: 750px) {
    .email-info {
      display: none;
    }
    .phone-number {
      display: none;
    }
  }
</style>

<div class="announce-bar color-{{section.settings.color_scheme}}">
  <div class="announcement-message">
    <div class="contacts flex">
      <a href="mailto:{{ section.settings.email | escape -}}">
        {% render 'icons', icon: 'email' %}
        <span class="email-info"> {{ section.settings.email | escape -}}</span>
      </a>

      <a href="tel:{{ section.settings.phone | escape }}">
        {% render 'icons', icon: 'phone' %}
        <span class="phone-number">{{ section.settings.phone | escape }}</span>
      </a>
    </div>
    <div class="options flex">
      <a href="#">
        <span>Login </span>
        {% render 'icons', icon: 'user' %}
      </a>

      <a href="#">
        <span>Wishlist </span>
        {% render 'icons', icon: 'favorite' %}
      </a>
      <a href="/cart">
        {% render 'icons', icon: 'cart' %}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hekto Announcement",
  "class": "hekto-announcement-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color",
      "default": "scheme-5"
    },
    {
      "type": "text",
      "id": "email",
      "default": "johndoe@example.com",
      "label": "Your Email"
    },
    {
      "type": "text",
      "id": "phone",
      "default": "(12345)67890",
      "label": "Phone Number"
    }
  ],
  "presets": [
    {
      "name": "Hekto Announcement Bar"
    }
  ]
}
{% endschema %}
